.__calcs67jhg7 {
    font-family: 'PT Sans Narrow', sans-serif;
    line-height: 24px;
    font-size: 14px;
    color: #000000;
    font-weight: normal;

}

.__calcs67jhg7 TABLE {
    border-collapse: collapse;
}

.__calcs67jhg7 .main-left {
    float: left;
    background-color: aliceblue;
}

.__calcs67jhg7 .main-right {
    float: left;
}

.__calcs67jhg7 .clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.__calcs67jhg7 .container {
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

.__calcs67jhg7 .main-left.container {
    width: auto;
    padding: 0 10px;
    margin: 0 10px;
}

.__calcs67jhg7 .main-right.container {
    width: auto;
    padding: 0 10px;
    margin: auto;
}

.__calcs67jhg7 .option p {
    float:left;
}

.__calcs67jhg7 form div {
    margin: 3px 0 0 3px;
}

.__calcs67jhg7 .option div {
    float: left;
}

.__calcs67jhg7 .table-results td {
    padding-left: 5px;
}

.__calcs67jhg7 .table-results td {
    height: 50px;
}

.__calcs67jhg7 .table-results-2 td {
    padding-left: 5px;
}

.__calcs67jhg7 .btn {
    margin: 10px;
    float: left;
}

.__calcs67jhg7 .main-results-table {
    float: left;
    width: 90%;
}

.__calcs67jhg7 .main-results {
    width: auto;
    padding: 0 10px;
    margin: 0 10px;
}

.__calcs67jhg7 .main-list {
    float: left;
}