body {
    font-family: 'PT Sans Narrow', sans-serif;
    line-height: 24px;
    font-size: 14px;
    color: #000000;
    font-weight: normal;

}

TABLE {
    border-collapse: collapse;
}

.main-left {
    float: left;
    background-color: aliceblue;
}

.main-right {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

.main-left.container {
    width: auto;
    padding: 0 10px;
    margin: 0 10px;
}

.main-right.container {
    width: auto;
    padding: 0 10px;
    margin: auto;
}

.option p {
    float:left;
}

form div {
    margin: 3px 0 0 3px;
}

.option div {
    float: left;
}

.table-results td {
    padding-left: 5px;
}

.table-results td {
    height: 50px;
}

.table-results-2 td {
    padding-left: 5px;
}

.btn {
    margin: 10px;
    float: left;
}

.main-results-table {
    float: left;
    width: 90%;
}

.main-results {
    width: auto;
    padding: 0 10px;
    margin: 0 10px;
}

.main-list {
    float: left;
}